#SinaisHome{

  .title{
    display: flex;
    background-color: rgb(20, 20, 20);
    justify-content: center;
    height: 5em;
    align-items: center;
    .text-page{
      text-align: center;
      font-weight: 500;
      margin: auto;
      font-size: 2em;
    }
  }

  .btn-back{
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 1em;
    
  }
  
    .cardSinais{
      
      width: 55%;
      
      @media (max-width:1200px){
        width: 100%;
      }

      .cardIgni, .cardAxii, .cardAard, .cardQuen, .cardYrden{
        background-color: rgb(73, 73, 73);
        color: white;
        
      }
  
      .cardTitle{
        
        font-size: 1.5em;
      }
  
      .cardText{
        text-align: center;
        font-size: 1.1em;
      }
  
    }
  
    img, .bg-image {
      background-color: rgb(26, 26, 26);
    }
    
  }