#EscolasHome{
  .title{
    display: flex;
    background-color: rgb(20, 20, 20);
    justify-content: center;
    height: 5em;
    align-items: center;

    .text-page{
      text-align: center;
      font-weight: 500;
      margin: auto;
      font-size: 2em;
    }
  }

  .btn-back{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 1.8em;
  }

    .cardSinais{

      width: 60%;

      @media (max-width:1200px){
        width: 100%;
      }

      .cardLobo, .cardGato, .cardGrifo, .cardUrso, .cardVibora{
        background-color: rgb(73, 73, 73);
        color: white;
        
      }
    
      img, .bg-image{
        background-color: rgb(26, 26, 26);
      }
    }
     
  }