#EscolasHome{
  .navbar{
    display: flex;
    background-color: rgb(20, 20, 20);
    justify-content: center;
    height: 3.5em;
    align-items: center;
    .text-page{
      text-align: center;
      font-weight: 500;
      margin: auto;
      font-size: 2em;
    }

    .btn-back{
      position: absolute;
      background-color: rgb(20, 20, 20);
      color: white;
      border: none;
      margin-top: -0.8em;
      margin-left: 1em;
      font-size: 1em;
    }
  }

    .cardSinais{

      width: 70%;

      .cardLobo, .cardGato, .cardGrifo, .cardUrso, .cardVibora{
        background-color: rgb(73, 73, 73);
        color: white;
        
      }
    
      img, .bg-image{
        background-color: rgb(26, 26, 26);
      }
    }
    
  
  }