#escola {

    .btn-back {
        margin-top: 2em;
    }
    
    .cardEscola {

        .cardbody {
            background-color: rgb(73, 73, 73);
            color: white;
            text-align: justify;

            h2 {
                text-align: center;
                margin-bottom: 0.5em;
                border-bottom: 2px solid rgb(104, 104, 104);
            }

            img {
                background-color: rgb(15, 15, 15);
                display: flex;
                margin: auto;
                margin-bottom: 1em;
                max-width: 15em;
                max-height: 15em;
    
                @media (min-width:569px) {
                    float: left;
                    max-height: 30em;
                    margin: 0.2em 1em 0em 0;
                }
            }

        }

        .cardlist {
            background-color: rgb(24, 24, 24);
            border-radius: 0em;
            border: 1px solid rgb(104, 104, 104);
            
            .cardname {
                background-color: rgb(24, 24, 24);
                color: white;
                width: 40%;
                text-align: center;
                margin: auto;

                @media (max-width:569px){
                    width: 85%;
                }

            }

            .carditem {
                background-color: rgb(44, 44, 44);
                color: white;
                border-radius: 0em;
                border-left: 1px solid rgb(104, 104, 104);
                width: 100%;
                text-align: center;

            }
        }
    }


}