#urso{

    .navbar {
        display: flex;
        background-color: rgb(20, 20, 20);
        justify-content: left;
        height: 3.5em;

        .btn-back {
            position: absolute;
            background-color: rgb(20, 20, 20);
            color: white;
            border: none;
            margin-top: -0.8em;
            margin-left: 1em;
            font-size: 1em;
        }
    }

    .cardEscola{

        img{
            background-color: rgb(15, 15, 15);
        }

        .cardbody{
            background-color: rgb(73, 73, 73);
            color: white;
            text-align: justify;
    
            h2{
                text-align: center;
                margin-bottom: 0.5em;
            }
    
            img{
                height: 100%;
                width: 100%;
            }
        }
    
        .cardlist{

            .cardname{
                background-color: rgb(24, 24, 24);
                color: white;
                border-radius: 0em;
                border:  1px solid rgb(104, 104, 104);
                width: 55%;
                text-align: center;
                
            }
            
            .carditem{
                background-color: rgb(44, 44, 44);
                color: white;
                border-radius: 0em;
                border:  1px solid rgb(104, 104, 104);
                width: 100%;
                text-align: center;
                
            }
        }
    }

    
}