#home {

    position: relative;
    transform: translate(0%,50%);
  
  
     img{
      height: 100%;
     }
  
     a{
      color: white;
      text-decoration: none;
  
      h4{
        margin-top: 1em;
        text-align: center;
      }
  
      p{
        text-align: justify !important;
        text-justify: inter-word;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
      }
  
     }
  
     @media (max-width:320px) {
  
        transform: translate(0%,30%);
        img{
          border: solid white 1px;
        }
     }
  
     @media (min-width:320px) and (max-width:767px) {
  
      transform: translate(0%,30%);
      img{
        border: solid white 1px;
      }
   }
  
  
     
  }