#home {

    .navbar{
      display: flex;
      background-color: rgb(20, 20, 20);
      justify-content: center;
      height: 3.5em;
      .text-page{
        text-align: center;
        font-weight: 500;
        margin: auto;
      }
    }

    .Escolas{

      .titleEscolas{
        margin-top: -0.9em;
      }

      .cardbodyEscolas{
        background-color: rgb(20, 20, 20) ;
        height: 14.8em;
      }
    }

    .Sinais{

      

      .imgSinal{
        background-color: rgb(20, 20, 20);
        border-radius: 5px;
        img{
          margin-top: 1em;
        }
      }

      .cardbodySinal{
        background-color: rgb(20, 20, 20) ;
        height: 100%;
      }
    }
    
    
    


     img{
      background-color: rgb(20, 20, 20);
     }
     
     .textDesc{
      text-align: justify;

     }

     
  
     @media (max-width:320px) {

      .navbar{
        height: 4em;
      }
  
      .Escolas{
        margin-bottom: 1em;
        .titleEscolas{
          margin-top: -0.9em;
        }
  
        .cardbodyEscolas{
          height: 100%;
        }
      }

      .Sinais{
        .imgSinal{
          
          img{
            margin-top: 1em;
          }
        }
  
        .cardbodySinal{
          height: 100%;;
        }
      }


        
     }
  
     @media (min-width:320px) and (max-width:767px) {

      .Escolas{
        margin-bottom: 1em;
        .titleEscolas{
          margin-top: -0.9em;
        }
        .cardbodyEscolas{
          height: 100%;
        }
      }

      .Sinais{
        .imgSinal{
          
          img{
            margin-top: 1em;
          }
        }
        .cardbodySinal{
          height: 100%;
        }
      }
   }

   @media (min-width:768px) and (max-width:1440px){

    .Escolas{
        .cardbodyEscolas{
          height: 100%;
        }
      }

      .Sinais{
        .cardbodySinal{
          height: 100%;
        }
      }
   }
  
  
     
  }