#footer{ 
    margin-top: auto;
    text-align: center;
    color: white;
    background-color: rgb(29, 29, 29);

    .textLink{
      background-color: #494949;
    }

    a {
      position: relative;
      color: #E9EAF6 !important;
  }

  a::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0%;
      height: 3px;
      width: 0;
      background-color: #E9EAF6;
      transition: 0.3s ease 0s, left 0.3s ease 0s;
  }

  a:hover::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0%;
      height: 3px;
      width: 100%;
  }

   }